* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebeae6;
  margin: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 70px;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

header h1 {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  text-align: start;
}
header h1::after {
  content: url(./solidline.svg);
}
header h1 span {
  font-size: 54px;
  font-weight: bold;
}
h2 {
  padding: 7px 0;
  margin: 0;
  text-align: start;
  font-size: 24px;
  text-transform: uppercase;
}
header h2 {
  font-weight: normal;
  padding: 0;
  text-transform: none;
}

header img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.firstcolumn {
  width: 60%;
  padding: 0 0 0 70px;
}

.contacts {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  background-color: #57564e;
  padding: 10px;
}
.about,
.experience,
.education,
.addinfo {
  padding-right: 30px;
}
.contacts li a {
  text-decoration: none;
  color: #e8e7df;
}
.contacts li {
  list-style-type: none;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}
.experience p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.experience p span {
  padding: 5px 0 0 0;
  font-weight: bolder;
  font-style: italic;
}
h3 {
  margin: 0;
  padding: 0px;
  font-weight: normal;
}
p {
  margin: 0;
  padding: 5px 0;
}

.secondcolumn {
  width: 40%;
  background-color: #ebeae6;
  padding: 0 70px 0 30px;
}
ul {
  padding: 0 0 0 15px;
}
.skills li {
  list-style-type: none;
  padding: 7px 0px;
  font-weight: bolder;
}
.secondcolumn h2 {
  text-align: center;
}
.skills li::before {
  content: "\2713";
  padding-right: 5px;
}
code {
  display: block;
  padding: 3px 10px;
}
.codesample {
  padding-bottom: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}
footer img {
  width: 30%;
}

footer p {
  font-weight: bolder;
}
